<!doctype html>

<head>
    {% include "common/head.html" %}
    <style>
        h3::before {
            content: '/ '
        }

        h2:has(a:hover)::after {
            content: " open folder";
        }
    </style>
</head>


<body>

    {% include "common/navbar.html" %}

    <div class="layout">

        <h2>Image galleries.</h2>
        <p>Cool collections of images. Click on the folder names to see them!</p>
    </div>

    {% for folder in folders %}
    <div class="layout">
        <h3><a href="/gallery/{{folder.name}}">{{folder.name}} (open folder)</a></h3>
        {{folder.readme_html}}
        <p>
            <img src="{{folder.thumbnail.absolute_url}}" style="max-width: 100%; max-height: 100%" loading="lazy">
            <br>
            /{{folder.name}}/<a href="{{folder.thumbnail.absolute_url}}">{{folder.thumbnail.filename}}</a> -
            <a href="/gallery/{{folder.name}}">view all images.</a>
        </p>
    </div>
    {% endfor %}



</body>