{% extends "common/page.html" %}
{% block style %}
<style>
    h3::before {
        content: '/ '
    }

    h2::after {
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<section>

    <h2>{{folder.name}} <<< <a href="/gallery">back to index</a></h2>
    {{folder.readme_html}}
</section>
{% for image in images %}
<section>
    <h3><a href="{{image.absolute_url}}">{{image.filename}}</a></h3>
    <p><img src="{{image.absolute_url}}" style="max-width: 100%; max-height: 100%" loading="lazy"></p>
</section>
{% endfor %}
{% endblock %}