code {
    display: block;
    box-sizing: content-box;
    padding: 10px;
    overflow-x: auto;
    counter-reset: step;
    counter-increment: step 0;
}

code .line::before {
    content: counter(step);
    position: sticky;
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, .4);
}

.detect-checkbox:has(#text-wrap:checked)>pre>code {
    text-wrap: wrap;
}

h2:has(a:hover)::after {
    display: none;
}