:root {
    --background-color: rgb(15, 24, 15);
    --font-color: rgb(161, 161, 161);
    --main-width: 900px;
    font-family: monospace;
    scroll-padding-top: 83px;

}



body {
    scroll-padding-top: 85px;

    margin: 0;
    font-size: large;
    background-color: var(--background-color);

}

.layout {
    overflow: scroll;
    position: inherit;
    background-color: rgba(30, 30, 30, 0.80);

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;

    /* box-shadow: 1rem 1rem 0px rgba(20, 20, 20, 0.95); */
    filter: drop-shadow(1rem 1rem 0px rgba(15, 15, 15, 0.80));
    max-width: fit-content;

    margin: 1em auto 2em;
    color: var(--font-color);
}

.dashed {
    text-decoration: underline dashed 2px;
}

a,
a:link,
.clickable {
    cursor: pointer;
    color: rgb(167, 214, 167);
    text-decoration: underline dashed 2px;
}

a:hover,
.clickable:hover {
    color: lightgreen;
    filter: drop-shadow(0.5px 0.5px 0px green);
    text-decoration-style: solid;
}

h2 {
    color: lightgrey;
    margin-top: 1em;

    >* {
        color: inherit !important;
    }
}



h2::before {
    content: "# ";
    font-weight: 200;
    font-style: italic;
}


code {
    display: block;
    box-sizing: content-box;
    padding: 10px;
    overflow: scroll;
    counter-reset: step;
    counter-increment: step 0;
}

code .line::before {
    content: counter(step);
    position: sticky;
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, .4)
}