:root {
    --background-color: rgb(15, 24, 15);
    --font-color: rgb(161, 161, 161);
    --main-width: 900px;
    font-family: monospace;
    scroll-padding-top: 83px;

}



body {
    scroll-padding-top: 85px;

    margin: 0;
    font-size: x-large;
    background-color: var(--background-color);

}

.layout {
    overflow: scroll;
    position: inherit;
    background-color: rgba(30, 30, 30, 0.80);

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;

    /* box-shadow: 1rem 1rem 0px rgba(20, 20, 20, 0.95); */
    filter: drop-shadow(1rem 1rem 0px rgba(15, 15, 15, 0.80));
    max-width: var(--main-width);
    margin: 1em auto 2em;
    color: var(--font-color);
}

.dashed,
dashed {
    text-decoration: underline dashed 2px;
}

a,
a:link,
.clickable {
    cursor: pointer;
    color: rgb(167, 214, 167);
    text-decoration: underline dashed 2px;
}

a:hover,
.clickable:hover {
    color: lightgreen;
    filter: drop-shadow(0.5px 0.5px 0px green);
    text-decoration-style: solid;
}

ul {
    list-style-type: "- ";
}

h2 {
    color: lightgrey;
    margin-top: 1em;

    >* {
        color: inherit !important;
    }
}



h2::before {
    content: "# ";
    font-weight: 200;
    font-style: italic;
    color: var(--font-color);
}

h2:has(a:hover)::after {
    content: " Click to copy hyperlink.";
    font-size: large;
    font-weight: 200;
    font-style: italic;
}

.icons {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

li+li {
    margin-top: 5px;
}

._88x33 {
    background-color: #000;
    width: 88px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}