h1,
h3 {
    color: white;
}

section {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:link,
.clickable {
    cursor: pointer;
    color: rgb(107, 211, 107);
    text-decoration: underline dashed 2px rgb(106, 172, 106);
}

a:hover,
.clickable:hover {
    font-style: normal;
    filter: drop-shadow(0.5px 0.5px 0px green);
    text-decoration-color: rgb(101, 174, 101);
    text-decoration-style: solid;
}